.nav{
	display: table;
	margin: 0 auto;
}




.navbar {
	list-style-type: none;

	padding: 0;
	overflow: hidden;
	background: rgba(95, 120, 255, 0.4);
	width:fit-content;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	text-align:center;
  }
  
  .navitem {
	float: left;
  }
  
  .button {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .button:hover {
	background-color: rgba(1, 11, 65, 0.5);
  }